# .eslintignore

# Build & Coverage
dist/
coverage/

# Dependencies
node_modules/

# VitePress internal folders
docs/.vitepress/dist/
docs/.vitepress/cache/

# Documentation and Examples
# (Keep these ignored if they have different linting rules)
docs/
examples/